@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body {
    font-family: 'Open Sans Condensed', sans-serif !important;
}

html {
    background: url("../img/city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* LOGIN PAGE CSS */

.loginForm {
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginForm input {
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

#loginBtn {
    margin: 5px;
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

/* HOME PAGE CSS */

/* NAVBAR */
#navBarContainer {
    text-align: center;
}

#navBarItem{
    color: white;
}

#navbarLogo {
    border-radius: 15px 15px 0 0;
}

/* Bookings Controller Container */
.bookingsController {
    margin: 50px;
    padding-bottom: 15px;
}

#delIcon{
    cursor: pointer;
}

#delIcon:hover{
    color: blue;
}

#editIcon {
    cursor: pointer;
}

#editIcon:hover {
    color: blue;
}

/* Fix for Bootstrap 3 with Angular UI Bootstrap */

.modal {
    display: block;
}

/* Custom dialog/modal headers */

.dialog-header-error {
    background-color: #d2322d;
}

.dialog-header-wait {
    background-color: #428bca;
}

.dialog-header-notify {
    background-color: #eeeeee;
}

.dialog-header-confirm {
    background-color: #333333;
}

    .dialog-header-error span, .dialog-header-error h4,
    .dialog-header-wait span, .dialog-header-wait h4,
    .dialog-header-confirm span, .dialog-header-confirm h4 {
        color: #ffffff;
    }

/* Ease Display */

.pad {
    padding: 25px;
}